In [1]:
import numpy as np
import pandas as pd

orders = 'instacart_2017_05_01/orders.csv'
products = 'instacart_2017_05_01/products.csv'
prior = 'instacart_2017_05_01/order_products__prior.csv'
train = 'instacart_2017_05_01/order_products__train.csv'
aisles = 'instacart_2017_05_01/aisles.csv'
departments = 'instacart_2017_05_01/departments.csv'

In [2]:
df_orders = pd.read_csv(orders)
df_orders
Number_orders = len(df_orders)

In [3]:
df_orderProductsTrain = pd.read_csv(train)

In [4]:
df_orderProductsPrior = pd.read_csv(prior)

In [5]:
(len(df_orderProductsPrior) + len(df_orderProductsTrain))/len(df_orders)

9.885497077972092

In [32]:
df_aisles= pd.read_csv(aisles)
df_aisles = df_aisles.set_index(df_aisles['aisle_id'].values)
df_aisles = df_aisles.drop(['aisle_id'], axis=1)
df_aisles

                             aisle
1            prepared soups salads
2                specialty cheeses
3              energy granola bars
4                    instant foods
5       marinades meat preparation
6                            other
7                    packaged meat
8                  bakery desserts
9                      pasta sauce
10                kitchen supplies
11                cold flu allergy
12                     fresh pasta
13                  prepared meals
14          tofu meat alternatives
15                packaged seafood
16                     fresh herbs
17              baking ingredients
18    bulk dried fruits vegetables
19                   oils vinegars
20                    oral hygiene
21                 packaged cheese
22                       hair care
23                   popcorn jerky
24                    fresh fruits
25                            soap
26                          coffee
27                   beers coolers
28                       red wines
29           honeys syrups nectars
30                    latino foods
..                             ...
105     doughs gelatins bake mixes
106         hot dogs bacon sausage
107                 chips pretzels
108           other creams cheeses
109                      skin care
110           pickled goods olives
111     plates bowls cups flatware
112                          bread
113                   frozen juice
114              cleaning products
115  water seltzer sparkling water
116                 frozen produce
117         nuts seeds dried fruit
118                      first aid
119                 frozen dessert
120                         yogurt
121                         cereal
122                   meat counter
123     packaged vegetables fruits
124                        spirits
125            trail mix snack mix
126                  feminine care
127              body lotions soap
128           tortillas flat bread
129        frozen appetizers sides
130       hot cereal pancake mixes
131                      dry pasta
132                         beauty
133     muscles joints pain relief
134     specialty wines champagnes

[134 rows x 1 columns]

In [2]:
df_products= pd.read_csv(products)

In [8]:
df_departments= pd.read_csv(departments)

In [3]:
df_products[df_products['product_id'].isin([13176, 21137, 21903, 47209, 27966])]

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
27965       27966     Organic Raspberries       123              4
47208       47209    Organic Hass Avocado        24              4

ideas:
- look for rules on 3 levels: product (big data challenge), aile, department (algorithm challenge)
- see how this changes accross time

In [9]:
df_allOrdersProducts = pd.concat([df_orderProductsPrior, df_orderProductsTrain], axis = 0)

In [10]:
df_allOrdersProducts = df_allOrdersProducts.reset_index()

### Frequent itemset generation

In [21]:
df_countProductsFrequency = df_allOrdersProducts.groupby(['product_id']).agg({'order_id': lambda x: len(tuple(x)) / Number_orders})

In [22]:
df_countProductsFrequency = df_countProductsFrequency.reset_index()
df_countProductsFrequency

       product_id  order_id
0               1  0.000564
1               2  0.000027
2               3  0.000083
3               4  0.000103
4               5  0.000005
5               6  0.000002
6               7  0.000009
7               8  0.000052
8               9  0.000047
9              10  0.000787
10             11  0.000031
11             12  0.000076
12             13  0.000003
13             14  0.000005
14             15  0.000002
15             16  0.000006
16             17  0.000005
17             18  0.000042
18             19  0.000001
19             20  0.000002
20             21  0.000003
21             22  0.000013
22             23  0.000333
23             24  0.000004
24             25  0.000658
25             26  0.000100
26             27  0.000055
27             28  0.000216
28             29  0.000067
29             30  0.000027
...           ...       ...
49655       49659  0.000077
49656       49660  0.000002
49657       49661  0.000004
49658       49662  0.000008
49659       49663  0.000004
49660       49664  0.000059
49661       49665  0.000032
49662       49666  0.000001
49663       49667  0.000490
49664       49668  0.000114
49665       49669  0.000002
49666       49670  0.000070
49667       49671  0.000019
49668       49672  0.000004
49669       49673  0.000008
49670       49674  0.000026
49671       49675  0.000023
49672       49676  0.000015
49673       49677  0.000067
49674       49678  0.000116
49675       49679  0.000040
49676       49680  0.000311
49677       49681  0.000023
49678       49682  0.000033
49679       49683  0.029151
49680       49684  0.000003
49681       49685  0.000014
49682       49686  0.000037
49683       49687  0.000004
49684       49688  0.000027

[49685 rows x 2 columns]

See the product distribution among the aisles

In [33]:
aisles = df_products.groupby(['aisle_id']).count()
aisles = aisles.reset_index()
aisles = aisles.sort_values(by=['product_id'], ascending = False)
def get_aisle_name(row):
    return df_aisles.loc[row.aisle_id, 'aisle']
aisles['aisle_name'] = aisles.apply(get_aisle_name, axis = 1)
aisles = aisles.set_index(aisles['aisle_id'].values)
aisles = aisles.drop(['aisle_id', 'department_id', 'product_name'], axis = 1)
aisles.columns = ['number_of_products', 'aisle_name']
aisles

     number_of_products                     aisle_name
100                1258                        missing
45                 1246                candy chocolate
37                 1091                  ice cream ice
47                 1038           vitamins supplements
120                1026                         yogurt
107                 989                 chips pretzels
94                  894                            tea
21                  891                packaged cheese
38                  880                   frozen meals
61                  874                  cookies cakes
3                   832            energy granola bars
22                  816                      hair care
104                 797              spices seasonings
98                  792                  juice nectars
78                  747                       crackers
69                  737            soup broth bouillon
92                  718              baby food formula
26                  680                         coffee
31                  675                   refrigerated
114                 655              cleaning products
17                  623             baking ingredients
123                 615     packaged vegetables fruits
66                  605                    asian foods
117                 582         nuts seeds dried fruit
83                  569               fresh vegetables
20                  565                   oral hygiene
89                  560        salad dressing toppings
112                 557                          bread
6                   548                          other
4                   543                  instant foods
..                  ...                            ...
46                  168                       mint gum
53                  161                          cream
14                  159         tofu meat alternatives
36                  150                         butter
62                  147                    white wines
1                   146          prepared soups salads
102                 132            baby bath body care
86                  125                           eggs
12                  123                    fresh pasta
44                  113                   eye ear care
60                  112              trash bags liners
119                 112                 frozen dessert
76                  108                   indian foods
122                 105                   meat counter
7                   100                  packaged meat
49                   99               packaged poultry
71                   98  refrigerated pudding desserts
134                  95     specialty wines champagnes
16                   86                    fresh herbs
103                  85             ice cream toppings
35                   82                poultry counter
58                   81           frozen breads doughs
15                   80               packaged seafood
125                  69            trail mix snack mix
39                   54                seafood counter
113                  47                   frozen juice
82                   44               baby accessories
32                   32               packaged produce
68                   26   bulk grains rice dried goods
18                   12   bulk dried fruits vegetables

[134 rows x 2 columns]

Let's take only the packaged vegetable and fruit aisle, aisle_id = 123

In [55]:
df_fruits = df_products[df_products['aisle_id'].isin([24,83,123])]
df_fruits

,product_id,product_name,aisle_id,department_id
30,31,White Pearl Onions,123,4
42,43,Organic Clementines,123,4
44,45,European Cucumber,83,4
65,66,European Style Spring Mix,123,4
88,89,Yogurt Fruit Dip Sliced Apples,123,4
98,99,Local Living Butter Lettuce,83,4
119,120,Cauliflower Florettes,123,4
141,142,Arugula Salad,123,4
142,143,Organic Lemons,24,4
147,148,Nectarines,24,4
259,260,Cantaloupe,24,4
305,306,Gold Potatoes,83,4
311,312,Juicing Carrots,83,4
342,343,Organic Whole Peeled Baby Carrots,123,4
346,347,"Vegetable Salad Kit, Sweet Kale",123,4
363,364,Greener Selection Salad,123,4
379,380,Clementine Bag,123,4
388,389,Mache Blend,123,4
390,391,Organic Yukon Gold Potato Bag,83,4
467,468,Kabocha Squash,83,4
493,494,Yellow Cherry Tomato,83,4
556,557,Red Seedless Grapes Imported,24,4
580,581,Garnet Sweet Potato (Yam),83,4
600,601,Organic Crunchy Slaw Americana Salad,123,4
739,740,Celery Heart,123,4
747,748,Romaine,123,4
783,784,Organic Vegetable Tray,83,4
792,793,Organic Spinach Quinoa Powermeal Bowl,123,4
856,857,Grilled Asparagus,123,4
862,863,ArtiHearts Fresh Grilled Artichokes,123,4
...,...,...,...,...
48884,48885,Butternut Squash Noodles,123,4
48893,48894,Diced Onions,123,4
48906,48907,Garden Salad Mix,123,4
48952,48953,Lettuce Medley,123,4
48998,48999,Fresh Radish Chips,123,4
49011,49012,Champagne Grapes,24,4
49072,49073,Strawberries Long Stemmed,24,4
49097,49098,Golden Sweet Potato,83,4
49098,49099,Organic Vegetable Tray with Creamy Ranch Dip,123,4
49120,49121,Rainbow Carrots,83,4
49150,49151,D'anjou Pears 90/100 Sz,24,4
49216,49217,Persian (Armenian) Cucumber,83,4
49222,49223,Extreme Poison Ivy Scrub,83,4
49290,49291,Tomato Cherry On The Vine,24,4
49346,49347,Cherimoya,24,4
49355,49356,Gourmet Oyster Mushrooms,83,4
49361,49362,Organic Hachiya Persimmon,83,4
49379,49380,Squeeze Ginger,24,4
49380,49381,Zucchini Squash,83,4
49382,49383,Organic Bunch Beets,83,4
49397,49398,Black Grapes,83,4
49406,49407,Anjou Pears,24,4
49424,49425,Red Cherries,24,4
49477,49478,Frozen Organic Strawberries,24,4
49510,49511,Yellow Bell Peppers,83,4
49577,49578,Black Garlic Bulbs,123,4
49618,49619,Opo Squash,83,4
49634,49635,"Baby Food Blueberry, Parsnip & Buckwheat Stage 2",83,4
49656,49657,Cabernet Tomatoes,83,4
49682,49683,Cucumber Kirby,83,4

In [56]:
products_id = df_fruits['product_id'].values
len(products_id)

1566

In [57]:
aisle_orders = df_allOrdersProducts[df_allOrdersProducts['product_id'].isin(products_id)]
aisle_ordersproducts = aisle_orders.drop(['add_to_cart_order', 'reordered', 'index'], axis=1)
aisle_ordersproducts

          order_id  product_id
1                2       28985
5                2       17794
8                2       43668
11               3       17704
12               3       21903
14               3       46667
30               5       13176
33               5       27966
44               5       37011
51               5       47209
53               5       38693
54               5       48825
62               9       21405
63               9       47890
64               9       11182
68               9       14992
77              10       24852
78              10        4796
80              10       47766
81              10        4605
83              10       21137
87              10       14992
90              10        3464
91              10       25720
99              12       43772
135             14       45066
145             18       34969
147             18        5212
150             18       46969
151             18       27966
...            ...         ...
33818983   3420894       17794
33818986   3420894       21903
33818987   3420894       10749
33818988   3420894       47630
33818989   3420894       34320
33818990   3420894       13176
33818993   3420894       29487
33818994   3420894       36695
33819008   3420895       47626
33819016   3420895        1408
33819017   3420895       45007
33819021   3420909       28204
33819025   3420909       21938
33819026   3420909       24184
33819027   3420909       21137
33819035   3420996       24852
33819036   3420996       45066
33819049   3420998       30391
33819050   3420998       21137
33819051   3420998        5876
33819052   3420998       21903
33819053   3420998       10246
33819054   3420998       43961
33819065   3420998        8277
33819066   3420998       38383
33819068   3420998       24830
33819071   3420998       41950
33819072   3420998        8174
33819084   3421049       26800
33819085   3421049       34243

[9205097 rows x 2 columns]

In [77]:
aisle_orders = aisle_ordersproducts.groupby(['order_id']).agg({'product_id': lambda x: tuple(x)})
aisle_orders.columns = ['products']
aisle_orders_str = aisle_ordersproducts.groupby(['order_id']).agg({'product_id': lambda x: tuple(map(str, x))})
aisle_orders_str.columns = ['products']

In [61]:
aisle_orders

                                                   products
order_id
1                              (10246, 49683, 13176, 47209)
2                                     (28985, 17794, 43668)
3                                     (17704, 21903, 46667)
5                (13176, 27966, 37011, 47209, 38693, 48825)
9                              (21405, 47890, 11182, 14992)
10        (24852, 4796, 47766, 4605, 21137, 14992, 3464,...
12                                                 (43772,)
14                                                 (45066,)
18        (34969, 5212, 46969, 27966, 26648, 48745, 2333...
19                                           (42265, 41540)
20                                     (7419, 24852, 42633)
21                                                  (4149,)
22                      (24852, 28993, 41273, 39993, 46979)
23          (25931, 35163, 29662, 26283, 47766, 7969, 8518)
25                                                 (48299,)
26                             (24852, 46206, 21903, 47766)
27        (13176, 47766, 17794, 21938, 3382, 28985, 4938...
28               (22825, 47626, 12980, 47209, 37288, 31915)
29                                           (13176, 33768)
31                        (22935, 21903, 4920, 25647, 9436)
32                              (13176, 49683, 4920, 28199)
35                                                 (28413,)
36                                    (43086, 48679, 46979)
38                                    (18159, 21616, 23622)
39                              (48679, 4605, 28204, 21903)
42                                                 (13176,)
43                                                 (34005,)
45                                                 (16349,)
47                                    (16797, 39275, 29223)
49                                            (3513, 39276)
...                                                     ...
3421036   (45066, 25705, 11182, 47209, 47042, 39495, 131...
3421038                                      (24852, 47626)
3421039                                (26369, 26209, 5876)
3421041                                (10749, 24964, 8277)
3421042                                            (28199,)
3421043                                      (46979, 22825)
3421045                                            (12072,)
3421046                                      (35547, 45066)
3421047                               (47766, 20114, 39993)
3421048                                             (6473,)
3421049                                      (26800, 34243)
3421050     (40516, 5451, 5251, 15872, 21938, 27966, 16797)
3421051   (42265, 39877, 21137, 27966, 47209, 8174, 8277...
3421053                                      (39993, 26209)
3421055                                       (5876, 47209)
3421057                                            (39877,)
3421060          (47209, 45066, 42265, 38777, 44142, 21938)
3421061   (13176, 45066, 47626, 41950, 37687, 4853, 2860...
3421062                               (13176, 28289, 42265)
3421064                                      (37687, 39001)
3421066                                      (46667, 41950)
3421068                         (16797, 13176, 42834, 9387)
3421069   (28199, 46667, 27966, 34243, 38383, 21137, 303...
3421072                  (31553, 10246, 26209, 25647, 6473)
3421074                                            (49383,)
3421077                               (27966, 45007, 26940)
3421078                                      (37646, 24852)
3421080                                            (41950,)
3421082                                            (16797,)
3421083                                            (24852,)

[2447934 rows x 1 columns]

In [67]:
number_orders = len(aisle_orders)
number_orders

2447934

In [94]:
list_orders = aisle_orders['products'].values
list_orders = list(map(set, list_orders))

In [62]:
aisle_products = aisle_ordersproducts.groupby(['product_id']).count()
aisle_products.columns = ['occurences']

In [65]:
aisle_products = aisle_products.sort_values(by=['occurences'], ascending=False)

In [68]:
support_threshold = 0.001

In [69]:
def frequency(row):
    return row.occurences/number_orders
aisle_products['frequency'] = aisle_products.apply(frequency, axis=1)

In [73]:
frequent_products = aisle_products[aisle_products['frequency']>= support_threshold]

In [92]:
list_frequent_items = [set([item]) for item in frequent_products.index]

In [98]:
def get_supersets(list_frequent_items, list_orders):
    frequent_supersets = []
    for i, element1 in enumerate(list_frequent_items[:-1]):
        for element2 in list_frequent_items[i+1:]:
            candidate = element1.union(element2)
            if len([order for order in list_orders if all(elem in order for elem in candidate)])/number_orders >= support_threshold:
                frequent_supersets.append(candidate)
pairs = get_supersets(list_frequent_items, list_orders)

KeyboardInterrupt:

In [78]:
dummy_orderproducts = aisle_orders_str['products'].str.join(sep='*').str.get_dummies(sep='*')

MemoryError:

In [87]:
(1,2).isin((1,2,3))

AttributeError: 'tuple' object has no attribute 'isin'

In [96]:
set((1,2)).union(set((2,3)))

{1, 2, 3}