In [4]:
import numpy as np
import pandas as pd

orders = 'instacart_2017_05_01/orders.csv'
products = 'instacart_2017_05_01/products.csv'
prior = 'instacart_2017_05_01/order_products__prior.csv'
train = 'instacart_2017_05_01/order_products__train.csv'
aisles = 'instacart_2017_05_01/aisles.csv'
departments = 'instacart_2017_05_01/departments.csv'

In [5]:
df_orders = pd.read_csv(orders)
df_orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
...,...,...,...,...,...,...,...
3421053,2789700,206208,prior,35,3,22,4.0
3421054,844592,206208,prior,36,6,15,10.0
3421055,1541132,206208,prior,37,2,12,3.0
3421056,2808240,206208,prior,38,0,15,19.0
3421057,3027766,206208,prior,39,2,14,9.0
3421058,3356245,206208,prior,40,5,9,10.0
3421059,442304,206208,prior,41,2,14,11.0
3421060,2675140,206208,prior,42,1,19,6.0
3421061,167903,206208,prior,43,4,14,3.0
3421062,2393201,206208,prior,44,6,16,2.0
3421063,3292671,206208,prior,45,2,11,3.0
3421064,3059777,206208,prior,46,1,10,13.0
3421065,2239861,206208,prior,47,3,4,9.0
3421066,1285346,206208,prior,48,1,11,5.0
3421067,1882108,206208,prior,49,1,22,7.0
3421068,803273,206208,test,50,5,11,4.0
3421069,3154581,206209,prior,1,3,11,NaN
3421070,1889163,206209,prior,2,3,17,7.0
3421071,1542354,206209,prior,3,5,11,30.0
3421072,688306,206209,prior,4,1,10,30.0
3421073,2307371,206209,prior,5,4,15,3.0
3421074,3186442,206209,prior,6,0,16,3.0
3421075,550836,206209,prior,7,2,13,9.0
3421076,2129269,206209,prior,8,3,17,22.0
3421077,2558525,206209,prior,9,4,15,22.0
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [7]:
df_orderProductsTrain = pd.read_csv(train)
df_orderProductsTrain

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
5               1       13176                  6          0
6               1       47209                  7          0
7               1       22035                  8          1
8              36       39612                  1          0
9              36       19660                  2          1
10             36       49235                  3          0
11             36       43086                  4          1
12             36       46620                  5          1
13             36       34497                  6          1
14             36       48679                  7          1
15             36       46979                  8          1
16             38       11913                  1          0
17             38       18159                  2          0
18             38        4461                  3          0
19             38       21616                  4          1
20             38       23622                  5          0
21             38       32433                  6          0
22             38       28842                  7          0
23             38       42625                  8          0
24             38       39693                  9          0
25             96       20574                  1          1
26             96       30391                  2          0
27             96       40706                  3          1
28             96       25610                  4          0
29             96       27966                  5          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [8]:
df_orderProductsPrior = pd.read_csv(prior)
df_orderProductsPrior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
5                2       17794                  6          1
6                2       40141                  7          1
7                2        1819                  8          1
8                2       43668                  9          0
9                3       33754                  1          1
10               3       24838                  2          1
11               3       17704                  3          1
12               3       21903                  4          1
13               3       17668                  5          1
14               3       46667                  6          1
15               3       17461                  7          1
16               3       32665                  8          1
17               4       46842                  1          0
18               4       26434                  2          1
19               4       39758                  3          1
20               4       27761                  4          1
21               4       10054                  5          1
22               4       21351                  6          1
23               4       22598                  7          1
24               4       34862                  8          1
25               4       40285                  9          1
26               4       17616                 10          1
27               4       25146                 11          1
28               4       32645                 12          1
29               4       41276                 13          1
...            ...         ...                ...        ...
32434459   3421080       41950                  4          0
32434460   3421080       31717                  5          0
32434461   3421080       12935                  6          1
32434462   3421080       25122                  7          0
32434463   3421080       10667                  8          0
32434464   3421080       38061                  9          0
32434465   3421081       38185                  1          0
32434466   3421081       12218                  2          0
32434467   3421081       32299                  3          0
32434468   3421081        3060                  4          0
32434469   3421081       20539                  5          0
32434470   3421081       35221                  6          0
32434471   3421081       12861                  7          0
32434472   3421082       17279                  1          1
32434473   3421082       12738                  2          1
32434474   3421082       16797                  3          0
32434475   3421082       43352                  4          1
32434476   3421082       32700                  5          1
32434477   3421082       12023                  6          0
32434478   3421082       47941                  7          0
32434479   3421083        7854                  1          0
32434480   3421083       45309                  2          0
32434481   3421083       21162                  3          0
32434482   3421083       18176                  4          1
32434483   3421083       35211                  5          0
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [11]:
(len(df_orderProductsPrior) + len(df_orderProductsTrain))/len(df_orders)

9.885497077972092

In [12]:
df_aisles= pd.read_csv(aisles)
df_aisles

     aisle_id                          aisle
0           1          prepared soups salads
1           2              specialty cheeses
2           3            energy granola bars
3           4                  instant foods
4           5     marinades meat preparation
5           6                          other
6           7                  packaged meat
7           8                bakery desserts
8           9                    pasta sauce
9          10               kitchen supplies
10         11               cold flu allergy
11         12                    fresh pasta
12         13                 prepared meals
13         14         tofu meat alternatives
14         15               packaged seafood
15         16                    fresh herbs
16         17             baking ingredients
17         18   bulk dried fruits vegetables
18         19                  oils vinegars
19         20                   oral hygiene
20         21                packaged cheese
21         22                      hair care
22         23                  popcorn jerky
23         24                   fresh fruits
24         25                           soap
25         26                         coffee
26         27                  beers coolers
27         28                      red wines
28         29          honeys syrups nectars
29         30                   latino foods
..        ...                            ...
104       105     doughs gelatins bake mixes
105       106         hot dogs bacon sausage
106       107                 chips pretzels
107       108           other creams cheeses
108       109                      skin care
109       110           pickled goods olives
110       111     plates bowls cups flatware
111       112                          bread
112       113                   frozen juice
113       114              cleaning products
114       115  water seltzer sparkling water
115       116                 frozen produce
116       117         nuts seeds dried fruit
117       118                      first aid
118       119                 frozen dessert
119       120                         yogurt
120       121                         cereal
121       122                   meat counter
122       123     packaged vegetables fruits
123       124                        spirits
124       125            trail mix snack mix
125       126                  feminine care
126       127              body lotions soap
127       128           tortillas flat bread
128       129        frozen appetizers sides
129       130       hot cereal pancake mixes
130       131                      dry pasta
131       132                         beauty
132       133     muscles joints pain relief
133       134     specialty wines champagnes

[134 rows x 2 columns]

In [13]:
df_products= pd.read_csv(products)
df_products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7
10,11,Peach Mango Juice,31,7
11,12,Chocolate Fudge Layer Cake,119,1
12,13,Saline Nasal Mist,11,11
13,14,Fresh Scent Dishwasher Cleaner,74,17
14,15,Overnight Diapers Size 6,56,18
15,16,Mint Chocolate Flavored Syrup,103,19
16,17,Rendered Duck Fat,35,12
17,18,Pizza for One Suprema Frozen Pizza,79,1
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7
20,21,Small & Medium Dental Dog Treats,40,8
21,22,Fresh Breath Oral Rinse Mild Mint,20,11
22,23,Organic Turkey Burgers,49,12
23,24,Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...,47,11
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19
25,26,Fancy Feast Trout Feast Flaked Wet Cat Food,41,8
26,27,Complete Spring Water Foaming Antibacterial Ha...,127,11
27,28,Wheat Chex Cereal,121,14
28,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...,81,15
29,30,"Three Cheese Ziti, Marinara with Meatballs",38,1
...,...,...,...,...
49658,49659,Organic Creamed Coconut,17,13
49659,49660,Professionals Sleek Shampoo,22,11
49660,49661,Porto,134,5
49661,49662,Bacon Cheddar Pretzel Pieces,107,19
49662,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14
49663,49664,Lemon Cayenne Drinking Vinegar,100,21
49664,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19
49665,49666,Ginger Snaps Snacking Cookies,61,19
49666,49667,Enchilada with Spanish Rice & Beans Meal,38,1
49667,49668,Apple Cinnamon Scented Candles,101,17
49668,49669,K Cup Dark Blend,100,21
49669,49670,Beef Summer Sausage,106,12
49670,49671,Milk Chocolate Drops,45,19
49671,49672,Cafe Mocha K-Cup Packs,26,7
49672,49673,Stone Baked Multi Grain Artisan Rolls,129,1
49673,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1
49674,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7
49675,49676,Ultra Red Energy Drink,64,7
49676,49677,Thick & Chunky Sloppy Joe Sauce,59,15
49677,49678,Large Chicken & Cheese Taquitos,129,1
49678,49679,Famous Chocolate Wafers,61,19
49679,49680,All Natural Creamy Caesar Dressing,89,13
49680,49681,Spaghetti with Meatballs and Sauce Meal,38,1
49681,49682,California Limeade,98,7
49682,49683,Cucumber Kirby,83,4
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [14]:
df_departments= pd.read_csv(departments)
df_departments

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

ideas:
- look for rules on 3 levels: product (big data challenge), aile, department (algorithm challenge)
- see how this changes accross time